#notepad {
    background-color: #b0dab9;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    min-height: 200px;
    border: 2px solid black;
    padding-bottom: 10px;
}

ul {
    min-width: 200px;
    min-height: 10px;
    margin-bottom: 5px;
}

#textbox {
    background-color: #b0dab9;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    min-width: 50px;
}

#text {
    background-color: #b0dab9;
    height: 17px;
    max-width: 200px;
    border: none;
    margin-left: 25px;
}

button {
    height: 25px;
    width: 50px;
    font-size: 10px;
    background-color: #89b204;
    color: black;
    overflow: hidden;
    border-radius: 2px;
}


/* #89b204; */